asgiref==3.8.1
cachetools==5.5.2
certifi==2025.6.15
chardet==5.2.0
charset-normalizer==3.4.2
cloudinary==1.44.1
dj-database-url==3.0.0
Django==5.2.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-pwa==2.0.1
django-redis==6.0.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-vision==3.10.2
googleapis-common-protos==1.70.0
grpcio==1.73.1
grpcio-status==1.73.1
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.2.1
proto-plus==1.26.1
protobuf==6.31.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pytesseract==0.3.13
python-decouple==3.8
PyYAML==6.0.2
redis==6.2.0
reportlab==4.4.1
requests==2.32.4
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.4.0
user-agents==2.2.0
whitenoise==6.9.0
